In [1]:
import pandas as pd
import datetime as dt
import seaborn as sns

In [2]:
weather_df = pd.read_csv("https://raw.githubusercontent.com/kaberry2/DSCI689/main/datasets/muncie_weather.csv")

In [3]:
weather_df.head()

,dt,dt_iso,timezone,city_name,lat,lon,temp,visibility,dew_point,feels_like,...,wind_gust,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,1609459200,2021-01-01 00:00:00 +0000 UTC,-18000,Muncie,40.193377,-85.38636,269.33,10000.0,267.15,265.49,...,0.0,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n
1,1609462800,2021-01-01 01:00:00 +0000 UTC,-18000,Muncie,40.193377,-85.38636,269.29,10000.0,266.97,265.44,...,0.0,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n
2,1609466400,2021-01-01 02:00:00 +0000 UTC,-18000,Muncie,40.193377,-85.38636,268.82,10000.0,266.79,264.88,...,0.0,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n
3,1609470000,2021-01-01 03:00:00 +0000 UTC,-18000,Muncie,40.193377,-85.38636,268.41,10000.0,265.96,263.85,...,0.0,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n
4,1609473600,2021-01-01 04:00:00 +0000 UTC,-18000,Muncie,40.193377,-85.38636,268.84,10000.0,266.81,265.53,...,0.0,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n

## Cleaning / Grouping Dates

In [4]:
weather_df['timestamp'] = pd.to_datetime(weather_df['dt'], unit = 's')
weather_df['hour'] = pd.DatetimeIndex(weather_df['timestamp']).hour
weather_df['date'] = pd.DatetimeIndex(weather_df['timestamp']).date
weather_df.loc[:, ['hour', 'date']]

      hour        date
0        0  2021-01-01
1        1  2021-01-01
2        2  2021-01-01
3        3  2021-01-01
4        4  2021-01-01
...    ...         ...
8924    19  2021-12-31
8925    20  2021-12-31
8926    21  2021-12-31
8927    22  2021-12-31
8928    23  2021-12-31

[8929 rows x 2 columns]